@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

#root {
    scroll-behavior: smooth;

    /* z-index offset variable */
    --z-offset: +0;
}

.menu {
    height: 70px;
}

.z-idx {
    z-index: var(--z-offset)
}

.z-idx\+1 {
    --z-offset: +1;
}

.z-idx\+2 {
    --z-offset: +2;
}

.z-idx\+3 {
    --z-offset: +3;
}

.z-idx\+4 {
    --z-offset: +4;
}

.z-idx\+5 {
    --z-offset: +5;
}

.z-idx-1 {
    --z-offset: -1;
}

/* Landing page sections */
.section {
    height: 100dvh;
}

.wrap {
    flex-wrap: wrap;
}

.bg-b {
    background-color: rgba(0, 0, 0,0.85);
}

.bg-bl {
    background-color: #7DD3FC;
}

.bg-bl-2 {
    background-color: #9fe1ff71;
}

.bg-bl:hover {
    background-color: #4bc6ff;
}

.text-bl {
    color: #7DD3FC;
}

.text-b {
    color: #5e5e5e;
}

.ml-2 {
    margin-left: 0.5rem;
}

.filter-invert {
    filter: invert(100%);
}

.filter-sepia {
    filter: sepia(100%);
}

.position-fixed {
    position: fixed;
}

.blink {
    animation: blink 1s steps(2) 0s infinite normal none;
}

@keyframes blink {
    from { opacity: 0; }
    to { opacity: 1; }
}

.card {
    width: 220px;
    height: 100px;
    border: 1px solid #ddd;
    cursor: pointer;
    transition: transform 0.5s ease;
}

.card:hover {
    transform: translateY(-5px);
    /* background-color:#eeeeee7d; */
    border: 1px solid #a9e4ff;
    box-shadow: 0 3px 20px #00000044;
}

.font-serif {
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.font-afacad {
    font-family: "Afacad Flux", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings: "slnt" 0;
}
